.heroTienda {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
  }
  
  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/hero\ tienda.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 60px;
    
  }
  
  .hero-content h1 {
    font-size: 5rem; 
    margin-bottom: 8.5rem;

  }
  
  .hero-content p {
    font-size: 5.5rem; 
    color: aqua;
  }
  

  .productos {
    background-color: #0f0f0f;
    padding: 4rem 2rem;
    max-width: 1500px;
    margin: 0 auto;
    background-color: rgb(209, 205, 205);
}

.productos h2 {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 2rem;
    color: #070707;
    font-family: 'Team Night', serif;
}

.producto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}

.producto {
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    text-align: center;
}

.producto:hover {
    transform: translateY(-10px);
}

.producto img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.producto:hover img {
    transform: scale(1.05);
}

.producto h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #0a0a0a;
    
}

.producto p {
    font-size: 1.2rem;
    color: #040313;
}

.producto button {
    background-color: #071a27;
    color: white;
    border: none;
    padding: 12px 25px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.producto button:hover {
    background-color: #6d6b61;
}

#carrito {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1d666b;
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

#carrito-cantidad {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(60, 255, 0);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
}

.filtros {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.filtro-btn {
    background-color: #ffffff;
    color: rgb(66, 66, 66);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.filtro-btn:hover, .filtro-btn.activo {
    background-color: #000000;
}

.carrito-ventana {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #395055;
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 1001;
    display: none;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

.carrito-ventana h3 {
    margin-top: 0;
    margin-bottom: 20px;
    color: black;
}

#carrito-lista {
    list-style-type: none;
    padding: 0;
    
}

#carrito-lista li {
    display: flex;
    align-items:end;
    justify-content: space-between;
    margin-bottom: 40px;
    color: #ffffff;
    padding-right: 15px;
    
}

#carrito-lista img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

#carrito-lista button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #000000;
}

#comprar-btn {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#comprar-btn:hover {
    background-color: #1eff00; 
}

button {
    background-color: #060707; 
    color: white;
    border: none; 
    border-radius: 5px; 
    padding: 5px 10px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}


button:hover {
    background-color: #176a8b;
}



@media (max-width: 768px) {
    .productos {
        padding: 2rem 1rem;
    }

    .productos h2 {
        font-size: 4rem;
    }

    .producto-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1rem;
    }

    .producto h3 {
        font-size: 1.2rem;
    }

    .producto p {
        font-size: 1rem;
    }

    .producto button {
        padding: 10px 20px;
    }

    .filtro-btn {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .carrito-ventana {
        width: 90%;
        max-width: none;
    }
}

@media (max-width: 480px) {
    .productos h2 {
        font-size: 2.8rem;
    }

    .producto-grid {
        grid-template-columns: 1fr;
    }

    .filtros {
        flex-direction:row;
        align-items: center;
    }

    .filtro-btn {
        width: 30%;
        margin: 5px 5PX;
    }
}
